DrawingArea {
	-fx-border-style: solid;
	-fx-border-color: green;
	-fx-border-width: 1px;
	-fx-fill: #e0e000;			/* Board color */
}

TopBoardView BoardShape {
   -fx-fill: #ffec80;			/* Board color */
   -fx-stroke: gray;			/* Board border color */
   -fx-stroke-width: 0.3px;		/* Board border width */
}

TopBoardView HoleView {
   -fx-fill: white;
}

TopBoardView PadView Circle {
   -fx-fill: #808080;
}

TopBoardView .TraceNormal{
   -fx-stroke: #D2D1CF; /*#606060;*/
   -fx-stroke-width: 0.8px;
   -fx-stroke-line-cap: round;
}


BottomBoardView BoardShape {
   -fx-fill: #FCF1B8;			/* Board color */
   -fx-stroke: gray;			/* Board border color */
   -fx-stroke-width: 0.3px;		/* Board border width */
}

BottomBoardView HoleView {
   -fx-fill: white;
   -fx-stroke: #EFBD73; /* #C39B5D;*/
   -fx-stroke-width: 0.6px;
}

BottomBoardView PadView Circle {
   -fx-fill: #606060;
/*   -fx-stroke: #C39B5D;
   -fx-stroke-width: 0.6px;*/
}


BoardHandle {
   -fx-fill: None;
   -fx-stroke: red;
   -fx-stroke-width: 0.3px;
}

DimensionView Line {
   -fx-stroke: darkred;
   -fx-stroke-width: 0.3px;
}

DimensionView Text {
	-fx-fill: darkred;

/* When styling the font from here, the text positioning doesnot work anymore
	-fx-font-family: monospace;
	-fx-font-size: 2.0pt;
*/
}

FromHandle {
   -fx-fill: yellow;
   -fx-stroke: green;
   -fx-stroke-width: 0.1px;
}

ToHandle {
   -fx-fill: yellow;
   -fx-stroke: green;
   -fx-stroke-width: 0.1px;
}

/*
TraceView.AirwireNormal{
	-fx-stroke: orange;
	-fx-stroke-width: 0.3px;
	-fx-stroke-line-cap: round;
}

TraceView.AirwireHighlight{
	-fx-stroke: red;
	-fx-opacity: 0.5;
	-fx-stroke-width: 0.3px;
	-fx-stroke-line-cap: round;
}*/

TraceView.AirwireSelect {
	-fx-stroke: red;
	-fx-stroke-width: 0.3px;
	-fx-stroke-line-cap: round;
}


TraceView.BridgeNormal{
	-fx-stroke: #C39B5D;
	-fx-stroke-width: 0.5px;
	-fx-stroke-line-cap: round;
}

TraceView.BridgeNormalBottom{
	-fx-stroke: #303030;
	-fx-stroke-dash-array: 0.5 0.5;
	-fx-stroke-width: 0.3px;
	-fx-stroke-line-cap: round;
}

TraceView.BridgeHighlight{
	-fx-stroke: red;
	-fx-opacity: 0.5;
	-fx-stroke-width: 0.5px;
	-fx-stroke-line-cap: round;
}

TraceView.BridgeSelect {
	-fx-stroke: red;
	-fx-stroke-width: 0.5px;
	-fx-stroke-line-cap: round;
}

/* default fill- and stroke color for all shapes */
PartView #partShapes * {
	-fx-stroke: gray;
	-fx-fill: gray;
	-fx-stroke-line-cap: round;
}

PartView #partShapes Circle {
	-fx-fill: none;
}

PartView #partShapes Arc {
	-fx-fill: none;
}

PartView #partShapes Rectangle {
	-fx-stroke: none;
}

PartView #partShapes Text {
	-fx-font: normal normal 4pt "PCBiusRegular";
	-fx-stroke: none;
}

PartView .centerCross {
    -fx-stroke: red;
    -fx-stroke-width: 0.2px;
}
