DrawingArea {
	-fx-border-style: solid;
	-fx-border-color: green;
	-fx-border-width: 1px;
	-fx-fill: #e0e000;			/* Board color */
}

TopBoardView BoardShape {
   -fx-fill: #ffec80;			/* Board color */
   -fx-stroke: gray;			/* Board border color */
   -fx-stroke-width: 0.3px;		/* Board border width */
}

TopBoardView HoleView {
   -fx-fill: white;
}

TopBoardView PadView Circle {
   -fx-fill: #808080;
}

TopBoardView .TraceNormal{
   -fx-stroke: #D2D1CF; /*#606060;*/
   -fx-stroke-width: 0.8px;
   -fx-stroke-line-cap: round;
}


BottomBoardView BoardShape {
   -fx-fill: #FCF1B8;			/* Board color */
   -fx-stroke: gray;			/* Board border color */
   -fx-stroke-width: 0.3px;		/* Board border width */
}

BottomBoardView HoleView {
   -fx-fill: white;
   -fx-stroke: #EFBD73; /* #C39B5D;*/
   -fx-stroke-width: 0.6px;
}

BottomBoardView PadView Circle {
   -fx-fill: #606060;
/*   -fx-stroke: #C39B5D;
   -fx-stroke-width: 0.6px;*/
}

BottomBoardView .TraceNormal{
	-fx-stroke: #ff0000; /*#606060;*/
	-fx-stroke-width: 0.6px;
	-fx-stroke-line-cap: round;
}


BoardHandle {
   -fx-fill: None;
   -fx-stroke: red;
   -fx-stroke-width: 0.3px;
}

DimensionView Line {
   -fx-stroke: darkred;
   -fx-stroke-width: 0.3px;
}

DimensionView Text {
	-fx-fill: darkred;

/* When styling the font from here, the text positioning doesnot work anymore
	-fx-font-family: monospace;
	-fx-font-size: 2.0pt;
*/
}

FromHandle {
   -fx-fill: yellow;
   -fx-stroke: green;
   -fx-stroke-width: 0.1px;
}

ToHandle {
   -fx-fill: yellow;
   -fx-stroke: green;
   -fx-stroke-width: 0.1px;
}

TraceView.TraceHighlight{
	-fx-stroke: red;
	-fx-stroke-width: 0.8px;
	-fx-opacity: 0.5;
	-fx-stroke-line-cap: round;
}

TraceView.TraceSelect {
	-fx-stroke: red;
	-fx-stroke-width: 0.8px;
	-fx-stroke-line-cap: round;
}


TraceView.AirwireNormal{
	-fx-stroke: orange;
	-fx-stroke-width: 0.3px;
	-fx-stroke-line-cap: round;
}

TraceView.AirwireHighlight{
	-fx-stroke: red;
	-fx-opacity: 0.5;
	-fx-stroke-width: 0.3px;
	-fx-stroke-line-cap: round;
}

TraceView.AirwireSelect {
	-fx-stroke: red;
	-fx-stroke-width: 0.3px;
	-fx-stroke-line-cap: round;
}


TraceView.BridgeNormal{
	-fx-stroke: #C39B5D;
	-fx-stroke-width: 0.5px;
	-fx-stroke-line-cap: round;
}

TraceView.BridgeNormalBottom{
	-fx-stroke: #303030;
	-fx-stroke-dash-array: 0.5 0.5;
	-fx-stroke-width: 0.3px;
	-fx-stroke-line-cap: round;
}

TraceView.BridgeHighlight{
	-fx-stroke: red;
	-fx-opacity: 0.5;
	-fx-stroke-width: 0.5px;
	-fx-stroke-line-cap: round;
}

TraceView.BridgeSelect {
	-fx-stroke: red;
	-fx-stroke-width: 0.5px;
	-fx-stroke-line-cap: round;
}

/* default fill- and stroke color for all shapes */
PartView #partShapes * {
	-fx-stroke: gray;
	-fx-fill: gray;
	-fx-stroke-line-cap: round;
}

PartView #partShapes Circle {
	-fx-fill: none;
}

PartView #partShapes Arc {
	-fx-fill: none;
}

PartView #partShapes Rectangle {
	-fx-stroke: none;
}

PartView #partShapes Text {
	-fx-font: normal normal 4pt "PCBiusRegular";
	-fx-stroke: none;
}

PartView .centerCross {
    -fx-stroke: red;
    -fx-stroke-width: 0.2px;
}




.my-custom-color {
    -fx-background-color: derive(#ececec,26.4%);
    -fx-padding: 1.25em;
    -fx-spacing: 1.25em;
    -fx-min-width: 20em;
    -fx-pref-width: 20em;
    -fx-max-width: 20em;
}

.my-custom-color:focused,
.my-custom-color:selected {
    -fx-background-color: transparent;
}

.my-custom-color > .color-rect-pane {
    -fx-spacing: 0.75em;
    -fx-pref-height: 16.666667em;
    -fx-alignment: top-left;
    -fx-fill-height: true;
}

.my-custom-color .color-rect-pane .color-rect {
    -fx-min-width: 16.666667em;
    -fx-min-height: 16.666667em;
}

.my-custom-color .color-rect-pane .color-rect-border {
    -fx-border-color: derive(#ececec, -20%);
}

.my-custom-color > .color-rect-pane #color-rect-indicator {
    -fx-background-color: null;
    -fx-border-color: white;
    -fx-border-radius: 0.4166667em;
    -fx-translate-x: -0.4166667em;
    -fx-translate-y: -0.4166667em;
    -fx-pref-width: 0.833333em;
    -fx-pref-height: 0.833333em;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}

.my-custom-color > .color-rect-pane > .color-bar {
    -fx-min-height: 1.666667em;
    -fx-min-width: 16.666667em;
    -fx-max-height: 1.666667em;
    -fx-border-color: derive(#ececec, -20%);
}

.my-custom-color > .color-rect-pane > .color-bar > #color-bar-indicator {
    -fx-border-radius: 0.333333em;
    -fx-border-color: white;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
    -fx-pref-height: 2em;
    -fx-pref-width: 0.833333em;
    -fx-translate-y: -0.1666667em;
    -fx-translate-x: -0.4166667em;
}

.my-custom-color .transparent-pattern {
    -fx-background-image: url("pattern-transparent.png"); 
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
}

.my-custom-color .color-new-rect {
    -fx-min-width: 10.666667em;
    -fx-min-height: 1.75em;
    -fx-pref-width: 10.666667em;
    -fx-pref-height: 1.75em;
    -fx-border-color: derive(#ececec, -20%);
}