.button.pressed { -fx-background-color: ghostwhite; }

.button, .toggle-button {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button.loadfile 		 { -fx-background-image: url(icons/loadfile.png); }
.button.savefile 		 { -fx-background-image: url(icons/file-save.png);   -fx-background-color: transparent;  }
.button.viewnonprintable { -fx-background-image: url(icons/view-nonprintable.png);  -fx-background-color: transparent; }
.button.undo 			 { -fx-background-image: url(icons/edit-undo.png);   -fx-background-color: transparent; }
.button.redo 			 { -fx-background-image: url(icons/edit-redo.png);  -fx-background-color: transparent; }
.button.back			 { -fx-background-image: url(icons/view-back.png);   -fx-background-color: transparent; }
.button.forward			 { -fx-background-image: url(icons/view-forward.png);   -fx-background-color: transparent; }
.button.insertimage 	 { -fx-background-image: url(icons/edit-insert-image.png);   -fx-background-color: transparent; }
.button.insertformula 	 { -fx-background-image: url(icons/edit-insert-formula.png); }
.button.search           { -fx-background-image: url(icons/search-global-start.png);   -fx-background-color: transparent; }
.button.cut 			 { -fx-background-image: url(icons/cut.png); }
.button.copy 			 { -fx-background-image: url(icons/copy.png); }
.button.paste 			 { -fx-background-image: url(icons/paste.png); }

.button.keyword   { -fx-background-image: url(icons/format-keyword.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.weblink   { -fx-background-image: url(icons/format-link.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.emphasize { -fx-background-image: url(icons/format-text-emphasized.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.highlight { -fx-background-image: url(icons/format-text-highlight.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.code 	  { -fx-background-image: url(icons/format-text-code.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }

.label.formatparagraph	 { -fx-background-image: url(icons/format-text-paragraph.png); }
.label.formatheader	 { -fx-background-image: url(icons/format-text-header.png); }
.label.formatlist 		 { -fx-background-image: url(icons/format-list-unordered.png); }
.label.formatcode		 { -fx-background-image: url(icons/format-text-code.png); }
.button.indentmore		 { -fx-background-image: url(icons/format-indent-more.png);  -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.indentless 		 { -fx-background-image: url(icons/format-indent-less.png);  -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }



.toggle-button.align-left { -fx-background-image: url(align-left.png); }
.toggle-button.align-center { -fx-background-image: url(align-center.png); }
.toggle-button.align-right { -fx-background-image: url(align-right.png); }
.toggle-button.align-justify { -fx-background-image: url(align-justify.png); }

/* -fx-border-insets only works when a border is defined!!!! */
.paragraph-text {
	-fx-border-style: solid;
	-fx-border-width: 0px;
	-fx-border-color: #808080;
}

/*DEBUG
.text-border {
	-fx-border-style: dashed;
	-fx-border-width: 1px;
	-fx-border-color: red;
}
*/

.toolAreaTitle {
	-fx-fill : #3E6AAA; 					/* Toolbox title text color */
}

.titleBg { 
	-fx-background-color : #C1D9F1;			/* Toolbox title background color */
	-fx-background-radius: 5px 5px 0px 0px;
}

.toolArea {
	-fx-background-color : #D6E5F3;			/* Toolbox background color */ 
	-fx-background-radius: 5px;

	-fx-border-style: solid;				/* Toolbox border style */
	-fx-border-width: 1px;
	-fx-border-color: #6D6AB7;
	-fx-border-radius: 5px;
}

.editorContainer {
	-fx-background-color: white;
	-fx-border-color: #C1D9F1;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-padding: 0px 0px 0px 5px;
}



.h1 {
	/*-fx-border-insets: 18px 0px 5px 0px;	/* trbl ONLY WORKS WHEN A BORDER IS DEFINED!!!!! */

	-fx-font-size: 18pt;
	-fx-fill: black;
}


.h2 {
	-fx-border-insets: 14px 0px 3px 0px;	/* trbl */
	-fx-font-size: 16pt;
	-fx-fill: black;
}


.h3 {
	-fx-border-insets: 10px 0px 3px 0px;	/* trbl */
	-fx-font-size: 12pt;
	-fx-fill: black;
	-fx-font-weight: bold;
}


.para {
	-fx-font-family: "sans-serif";
	-fx-font-size: 10pt;
}


.tip {
	-fx-border-insets: 0px 0px 0px 20px;	/* trbl */
	-fx-background-color: #e4e4e4;
	-fx-fill: #000000;
	-fx-font-family: "sans-serif";
	-fx-font-size: 10pt;
	-fx-font-style: italic;
}


.warning {
	-fx-border-insets: 0px 0px 0px 20px;	/* trbl */
	-fx-background-color: #ffffff;
	-fx-fill: #ff0000;
	-fx-font-family: "sans-serif";
	-fx-font-size: 12pt;
	-fx-font-style: italic;
}


.blockquote {
	-fx-border-insets: 0px 0px 0px 20px;	/* trbl */
    -fx-fill: #000000;
    -fx-font-family: "sans-serif";
	-fx-font-size: 10pt;
	-fx-font-style: italic;
	-fx-border-style: solid;
	-fx-border-width: 0px 0px 0px 1px;
	-fx-border-color: red;
}


.programlisting.cpp {
   -fx-border-insets: 0px 0px 0px 5px;	/* trbl */
   -fx-background-color: #f0f0f0;
   -fx-fill: black;
   -fx-font-family: "monospace";
   font-size: 10pt;
   font-weight: bold;
}

.programlisting.java {
	-fx-border-insets: 5px 0px 0px 5px;	/* trbl */
	-fx-background-color: #0000ff;
	-fx-fill: yellow;

    -fx-font-family: "monospace";
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.programlisting.xml {
	-fx-border-insets: 0px 0px 0px 5px;	/* trbl */
	-fx-background-color: #f0f0f0;
	-fx-fill: #800000;
	-fx-font-family: "monospace";
	-fx-font-size: 10pt;
}

.screen {
	-fx-border-insets: 0px 0px 0px 5px;	/* trbl */
	-fx-background-color: #808080;
    -fx-fill: #80ff80;
    -fx-font-family: "monospace";
    -fx-font-size: 10pt;
}


.emphasis {
	-fx-font-weight: bold;
}

.highlight {
	-rtfx-background-color: yellow;
}

.link {
    -fx-fill: blue;
    -rtfx-underline-color: blue;
    -rtfx-underline-width: 1px;
}

.olink {
	-rtfx-background-color: #dcdcdc;
    -fx-fill: blue;
    -rtfx-underline-color: blue;
    -rtfx-underline-width: 1px;
}

.code{
    -fx-font-family: "monospace";
    -fx-font-size: 10pt;
	-rtfx-background-color: #e8e8e8;
    -fx-fill: green;
}
