.button.pressed { -fx-background-color: ghostwhite; }

.button, .toggle-button {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button.loadfile 		 { -fx-background-image: url(icons/loadfile.png); }
.button.savefile 		 { -fx-background-image: url(icons/file-save.png);   -fx-background-color: transparent;  }
.button.viewnonprintable { -fx-background-image: url(icons/view-nonprintable.png);  -fx-background-color: transparent; }
.button.undo 			 { -fx-background-image: url(icons/edit-undo.png);   -fx-background-color: transparent; }
.button.redo 			 { -fx-background-image: url(icons/edit-redo.png);  -fx-background-color: transparent; }
.button.back			 { -fx-background-image: url(icons/view-back.png);   -fx-background-color: transparent; }
.button.forward			 { -fx-background-image: url(icons/view-forward.png);   -fx-background-color: transparent; }
.button.insertimage 	 { -fx-background-image: url(icons/edit-insert-image.png);   -fx-background-color: transparent; }
.button.insertformula 	 { -fx-background-image: url(icons/edit-insert-formula.png); }
.button.search           { -fx-background-image: url(icons/search-global-start.png);   -fx-background-color: transparent; }
.button.cut 			 { -fx-background-image: url(icons/cut.png); }
.button.copy 			 { -fx-background-image: url(icons/copy.png); }
.button.paste 			 { -fx-background-image: url(icons/paste.png); }

.button.keyword   { -fx-background-image: url(icons/format-keyword.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.weblink   { -fx-background-image: url(icons/format-link.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.emphasize { -fx-background-image: url(icons/format-text-emphasized.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.highlight { -fx-background-image: url(icons/format-text-highlight.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.code 	  { -fx-background-image: url(icons/format-text-code.png);   -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }

.label.formatparagraph	 { -fx-background-image: url(icons/format-text-paragraph.png); }
.label.formatheader	 { -fx-background-image: url(icons/format-text-header.png); }
.label.formatlist 		 { -fx-background-image: url(icons/format-list-unordered.png); }
.label.formatcode		 { -fx-background-image: url(icons/format-text-code.png); }
.button.indentmore		 { -fx-background-image: url(icons/format-indent-more.png);  -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }
.button.indentless 		 { -fx-background-image: url(icons/format-indent-less.png);  -fx-background-color: transparent; -fx-focus-color: transparent;  -fx-faint-focus-color: transparent; }



.toggle-button.align-left { -fx-background-image: url(align-left.png); }
.toggle-button.align-center { -fx-background-image: url(align-center.png); }
.toggle-button.align-right { -fx-background-image: url(align-right.png); }
.toggle-button.align-justify { -fx-background-image: url(align-justify.png); }

.toolAreaTitle {
	-fx-fill : #3E6AAA; 					/* Toolbox title text color */
}

.titleBg { 
	-fx-background-color : #C1D9F1;			/* Toolbox title background color */
	-fx-background-radius: 5px 5px 0px 0px;
}

.toolArea {
	-fx-background-color : #D6E5F3;			/* Toolbox background color */ 
	-fx-background-radius: 5px;

	-fx-border-style: solid;				/* Toolbox border style */
	-fx-border-width: 1px;
	-fx-border-color: #6D6AB7;
	-fx-border-radius: 5px;
}

.editorContainer {
	-fx-background-color: white;
	-fx-border-color: #C1D9F1;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-padding: 0px 0px 0px 5px;
}



.h1 {
/*	-fx-padding: 10px;
	-fx-border-insets: 10px;*/
	-fx-font-size: 18pt;
	-fx-fill: black;
}


.h2 {
/*	-fx-padding: 10px;
	-fx-border-insets: 10px;*/
	-fx-font-size: 16pt;
	-fx-fill: black;
}


.h3 {
/*	-fx-padding: 10px;
	-fx-border-insets: 10px;*/
	-fx-font-size: 12pt;
	-fx-fill: black;
	-fx-font-weight: bold;
}



.para {
/*	margin-top: 3px;
	margin-bottom: 3px;*/
	-fx-font-family: "sans-serif";
	-fx-font-size: 10pt;
}


.tip {
/*	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 20px;
*/
	-fx-background-color: #e4e4e4;
	-fx-fill: #000000;
	-fx-font-family: "sans-serif";
	-fx-font-size: 10pt;
	-fx-font-style: italic;
}


.warning {
/*	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;*/
	-fx-background-color: #ffffff;
	-fx-fill: #ff0000;
	-fx-font-family: "sans-serif";
	-fx-font-size: 12pt;
	-fx-font-style: italic;
}


.blockquote {
/*	        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 20px;*/
        /*background-color: #caddff;*/
    
    -fx-fill: #000000;
    -fx-font-family: "sans-serif";
	-fx-font-size: 10pt;
	-fx-font-style: italic;

	-fx-border-style: solid;
	-fx-border-width: 0px 0px 0px 1px;
	-fx-border-color: red;
}

.programlisting.cpp {
/*   margin-left: 5px; */
   -fx-background-color: #f0f0f0;
   -fx-fill: black;
   -fx-font-family: "monospace";
   font-size: 10pt;
   font-weight: bold;
}

.programlisting.java {
/*        white-space: pre; 

        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;*/

	-fx-background-color: #0000ff;
	-fx-fill: yellow;

    -fx-font-family: "monospace";
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.programlisting.xml {
/*        white-space: pre;

        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
*/
	-fx-background-color: #f0f0f0;
	-fx-fill: #800000;
	-fx-font-family: "monospace";
	-fx-font-size: 10pt;
}

.screen {
/*        white-space: pre;

        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;*/

	-fx-background-color: #808080;
    -fx-fill: #80ff80;
    -fx-font-family: "monospace";
    -fx-font-size: 10pt;
}


.emphasized{ -fx-font-weight: bold; }

.highlight { -rtfx-background-color: yellow; }

